NEXT_PUBLIC_API_BASE_URL=http://localhost:8000/api
NEXT_PUBLIC_FACE_MATCHING_URL=http://localhost:3010/prover/

APP_ENV=production

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_SERVICE_SID=
TWILIO_VERIFY_SERVICE_SID=
TWILIO_SMS_FROM=
TWILIO_SMS_MESSAGING_SERVICE_SID=

